body {
  font-size: 14px;
}

nav {
  background-color: #f8e71c;
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
}

section {
  margin:auto;
  padding-top: 100px;
  width: 60%;
}

h1 {
  font-family: sans-serif;
  font-size: 2em;
}

.example {
  padding-top: 30px;
  text-align: center;
}

h3 {
  font-size: 1.3em;
  padding-top: 30px;
  text-align: center;
}

.element {
  background-color: #458002;
  height: 100px;
  margin: 10px auto;
  width: 100%;
}

.element:nth-last-child(-n+3) {
    background-color: #f81f1c;
}
/* change background-color of the last three elements */
